.card-container{
    display:inline-block;
    margin: 50px;
    top: 10px;
}
/* From Uiverse.io by alexruix */ 
.card {
    width: 200px;
    height: 260px;
    border-radius: 10px;
    background: linear-gradient(45deg,#212121,#c3c6ce);
    position: relative;
    padding: 1.8rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
   }
   
   .card-details {
    color: black;
    height: 90%;
    font-size: 15px;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   /* .text-body {
    color: rgb(134, 134, 134);
   } */
   
 
   
   
   /*Hover*/
   .card:hover {
    border-color: white ;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

/* .card {
    background-color: black;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    height: 300px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
} */

.card a button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.card a button:hover {
    background-color: #0056b3;
    color:white;
}
.text-title{
    margin-bottom: 0px;
}


