
.card1:hover ~ .circle1 {
    transform: translate(200px, 0px); /* Change this to the desired translation */
  }
  
  .card1:hover ~ .circle2 {
    transform: translate(-60px, 0px); /* Change this to the desired translation */
  }
  
  .card1:hover ~ .circle3 {
    transform: translate(30px, 20px); /* Change this to the desired translation */
  }
  
  .card1:hover ~ .circle4 {
    transform: translate(-10px, 10px); /* Change this to the desired translation */
  }
  
  .card1:hover ~ .circle5 {
    transform: translate(20px, -20px); /* Change this to the desired translation */
  }
.card1{
    scroll-behavior: smooth;
  }